.carousel-text 
{
    font-size: 2.2rem;
    font-weight: bold;
    position: relative;
    bottom: 250px;
    background-color: white;
    display: inline;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
}